.triangle-topleft {
  width: 0;
  height: 0;
  border-bottom: 300px solid white;
  border-left: 2750px solid transparent;
  position: absolute;
}

.overlay-container .triangle-topleft,
.overlay {
  position: absolute;
  color: white;
  right: 0;
  top: calc(100vh - 300px);
}

.banner-container {
  height: 11vh;
}

.cta-button {
  border-radius: 25%;
  border: 2.5px solid white;
  color: white;
  padding: 15px 110px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 45px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s all ease;
}

.cta-button:hover {
  background-color: white;
  color: royalblue;
  border: 2.5px solid royalblue;
}

.image-container {
  width: 40vw;
  height: 60vh;
  position: absolute;
  left: 48%;
  top: 38%;
  z-index: 1;
  pointer-events: none;
}
