.brand {
  font-family: 'Source Sans Pro', sans-serif;
}

.brand-flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  display: inline-block;
}
